.container {
    background-color: rgba(227,247,254,255); 
    height: 100vh; 
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.head-image {
    position: absolute;   
     bottom: 0;          
     right: 0;          
     width: 70%; 
    height: auto; 
}

h1 {
    top: 0%; 
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 32px;
    color: black; 
}

p {
  font-family: 'Noto', sans-serif;
  font-size: 15px;
  color: #34495e;
  margin: auto;
}

.recipesTitle {
  font-size: 24px; /* Larger font size for the title */
  font-weight: bold; /* Makes the title bold */
  color: #0b0943; /* Dark text color */
  margin-bottom: 15px; /* Space below the title */
}

.recipesDiv {
  font-family: 'Gill Sans';
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px; /* Adjust width as needed */
  height: 400px; /* Fixed height */
  overflow-y: auto; /* Enables vertical scrolling */
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: left;
  display: flex;
  flex-direction: column; /* Ensures the title stays at the top */
}

  .recipesDiv ul {
    width: fit-content;
    list-style-type: none;
    margin: 0 auto; 
    padding-left: 0; 
  }

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

form {
    position: absolute;   
    bottom: 0;          
    left: 0;          
    width: 100%; 
    height: auto; 
    max-width: 100px;
    font-family: Arial;
  }

.btn {
    padding: 10px 10px;
    font-size: 12px;
    background-color: #457da0;
    color: white;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .btn:hover {
    background-color: #a46c37;  
    transform: scale(1.1);  
  }

label {
    font-size: 15px;
    font-weight: bold;
    color: #514b4b;             
    background-color: transparent; 
  }
  
  